ul{
    text-align: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin:  50px auto;
    display: flex;
    align-items: center;
  justify-content: center;
    gap: 70px
}
header{
    background-color: black;
    color: white;
    padding:15px;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
    color:blanchedalmond;
    font-weight: bolder;
}