.ShoppingCartArticle{
    width: 80%;
    background-color: grey;
    text-align: left;

}

.ShoppingCartArticleImg{
    height: auto;
    width: 50%;
    display: inline-block;

}
.ShoppingCartArticleDescription{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    font-size: x-large;
    margin: 2px;
    text-align: right;
    background-color: antiquewhite;

}
.ShoppingCartSpan{
    background-color: rgb(247, 239, 240);
    color:black;
    border-radius: 5px;
    text-align: right;

    padding: 1px 3px
}