i{
    color: azure;
    font-size: xx-large;
}
.CartSpan{
    background-color: crimson;
    color:black;
    border-radius: 5px;
    position:relative;
    right: 15px;
    top: -15px;
    padding: 1px 3px
}