.ShoppingCartSection{
    background-color: black;
    width: 80%;
    min-height: 600px;
}
.ShoppingCartSectionSpan{
    background-color: azure;
    font-size: xx-large;
    text-align: right;
}

.ShoppingCartSectionParagraph{
   
    font-size: xx-large;
    text-align: right;
}