.ShoppingCartSection{
    background-color: black;
    width: 80%;
    min-height: 400px;
    margin: 50px 0px;padding-top: 30px;
 
}
.ShoppingCartSectionSpan{
    background-color: azure;
    font-size: xx-large;
    text-align: right;
}



.ShoppingCartSectionParagraph span{
    background-color: 
    crimson;
    padding: 5px;
    color: black;
    border-radius: 10px;

}
.Empty{
    padding: 50px;
    font-size: xx-large;
}
.ShoppingCartSectionParagraph{
    margin: 20px;
     font-size: xx-large;
     text-align: right;
     background-color: black;
     display: block;
     color: azure;
 
 }
 .ShoppingCartSectionButton{
     padding: 5px 10px;
     font-size: x-large;
     background-color: 
    yellowgreen;
    border-radius: 10px;
 }